[LootLockerSettings]
; You can get your api key from https://console.lootlocker.com/settings/api-keys
api_key="dev_c49e8e20f45e413eb5f1d9fcef65962e"
; You can get your domain key from https://console.lootlocker.com/settings/api-keys
domain_key="tbsq7xij"
; The game version must follow a semver pattern. Read more at https://semver.org/
game_version="0.7"
; The configured Log Level for LootLocker, Set to "None" to silence LootLocker logs completely
; Possible values are: "Debug", "Verbose", "Info", "Warning", "Error", "None"
logLevel="Info"
